# Python program to add, subtract, multiple and divide two Pandas Series.

In [2]:
import pandas as pd

In [3]:
first_series=pd.Series( [2, 4, 6, 8, 10])
second_series=pd.Series([1, 3, 5, 7, 9])

In [14]:
series_sum = first_series + second_series
series_sum

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [13]:
series_product = first_series * second_series
series_product

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [9]:
series_sub = first_series - second_series
series_sub

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [12]:
series_div = first_series / second_series
series_div

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64